<table>
  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <% @payment_requests.each do |payment_request| %>
    <tr>
      <td><%= payment_request.description %></td>
      <td><%= payment_request.amount %></td>
      <td><%= payment_request.currency %></td>
      <td><%= payment_request.status %></td>
      <% if payment_request.status == "pending" %>
        <td><%= link_to "Accept", payment_request_path(payment_request, status: "accepted"), :method=> :put %></td>
        <td><%= link_to "Decline", payment_request_path(payment_request, status: "rejected"), :method=> :put %></td>
      <% end %>
    </tr>
  <% end %>
</table>
